tmp/
bak/
*.bak
.throttle/
doc/
logs/
archive/
*.fa
*.fastq
*.fastq.gz
*.sig
*.bowtie2.txt
.RData
.Rhistory
*.Rproj
.Rproj.user
.DS_Store
ILL_pipelines/
*kronagrams/
*kreport 
*.bowtie2.txt
*.bracken
*/Bracken*/*/*/*_temp.MPA.TXT
*/Bracken*/*/*_taxonomy_nt
